html {
    width: 100%;
    text-align: center;
    margin: auto;
}

head, body {
    margin: auto;
}

#selfie {
    padding-top: 5%;
    height: 15vw;
}

.monitor {
    height: 10vw;
    opacity: 50%;
}

.monitor:hover {
    opacity: initial;
}

#navbar {
    position: sticky;
    top: 0;
    z-index: 999;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0%;
    overflow: hidden;
    background: radial-gradient(ellipse at bottom, #5091DD 0%, #030617 100%);
    background-attachment: fixed;
    background-size: cover;
    opacity: 90%;
}

#navbar li {
    padding: 2%;
    float: left;
}

#navbar li a {
    display: block;
    color: white;
    text-decoration: none;
}

#navbar :hover:not(.active) {
    background-color: #5091DD;
}

.content {
    padding-top: 5%;
    background: radial-gradient(ellipse at bottom, #5091DD 0%, #030617 100%);
    background-attachment: fixed;
    background-size: cover;
    color: white;
    text-align: center;
}

.chatBubble {
    position: relative;
    left: 40%;
    background: #0074bd;
    border-radius: .9em;
    padding: 0.5% 1% 0.5% 0.5%;
    max-width: 50vw;
    font-size: 1.5vw;

}

.chatBubble:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 90%;
    width: 0;
    height: 0;
    border: 4vw solid transparent;
    border-top-color: #0074bd;
    border-bottom: 0;
    border-left: 0;
    margin-left: -40px;
    margin-bottom: -4vw;
}

#about {
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 15%;
    display: flex;
    flex-basis: auto;
    column-gap: 10vw;
    font-size: 1.5vw;
    text-align: left;
}
#about h2{
    font-size: 2.5vw;
}
#skills {
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 15%;
    display: flex;
    flex-basis: auto;
    column-gap: 10vw;
    font-size: 1.5vw;
    text-align: left;
}
#skills h2{
    font-size: 2.5vw;
}

#portfolio h1 {
    padding: 5%;
    text-align: left;
    font-size: 2.5vw;
}
#portfolio h2{
    text-align: center;
    font-size: 2.5vw;
}

#portfolio div {
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    display: flex;
    font-size: 2vw;
}

.aboutProject div {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
}

.monitorLink {

    flex-direction: column;
    text-align: center;
}
#mapPlaceholder{
    display: flex;
    column-gap: 5%;
}
#mapFrame{
    width:50vw;
    height:50vw;
}
 table{
    border-collapse: collapse;
    border-spacing: 0;
}
 th, td{
    padding: 10px 20px;
    border: 1px solid white;
}
#contacts {
    padding: 5%;
    font-size: smaller;

}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 5%;
    padding-bottom: 5%;
}

.links div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.links div a {
    padding: 5%;
    text-decoration: none;
    color: white;
    font-size: 2vw;
}

button {
    max-width: 30vw;
}

footer {
    padding: 2%;
    bottom: 0;
    background: radial-gradient(ellipse at bottom, #5091DD 0%, #030617 80%);
    background-attachment: fixed;
    color: white;
    text-align: center;
}
.hidden{
display:none;
}

a{
color:white;
}



