<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Hello, World!</title>
    <link rel="stylesheet" href="css/style.css">
    <script type="text/javascript" src="/js/gpsOnClick.js"></script>
    <header>
        <nav>
            <div id="navbar">
                <ul>
                    <li><a class="navbar" href="#home">Home</a></li>
                    <li><a class="navbar" href="#about">About</a></li>
                    <li><a class="navbar" href="#portfolio">Portfolio</a></li>
                    <li><a class="navbar" href="#contacts">Contact Me</a></li>
                </ul>
            </div>
        </nav>
    </header>
</head>
<body>
<div id="home" class="content">
    <div class="chatBubble">
        <h1>Hi, I'm nieoczywisty.<br>Hopefuly soon java oriented junior. But hey you've got to sell yourself somehow,
            right? :) </h1>
    </div>
    <section id="about">
        <div>
            <h2>About me</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                It has survived not only five centuries, but also the leap into electronic typesetting,
                remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
                containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker
                including versions of Lorem Ipsum.</p>
        </div>
        <img id="selfie" src="images/photo.png">
    </section>
    <section id="portfolio">
        <h2>Portfolio</h2>
        <div>
            <div class="monitorLink">
                <a href="https://www.linkedin.com/in/nieoczywisty/">
                    <img class="monitor" src="images/monitor.png">
                </a>
                <p>Source Code</p>
            </div>
            <div class="aboutProject">
                <div>
                    <h2>Welcome Page</h2>
                    <p id="welcomePage">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        It has survived not only five centuries, but also the leap into electronic typesetting,
                        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                        sheets
                        containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
                        PageMaker
                        including versions of Lorem Ipsum.</p>
                    <button id="showMap">Click me</button>
                </div>
            </div>
        </div>
        <div id="mapPlaceholder">
        </div>
        <div>
            <div class="monitorLink">
                <img class="monitor" src="images/monitor.png">
                <p>Source Code</p>
            </div>
            <div class="aboutProject">
                <div>
                    <h2>Java FX</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        It has survived not only five centuries, but also the leap into electronic typesetting,
                        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                        sheets
                        containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
                        PageMaker
                        including versions of Lorem Ipsum.</p>
                </div>
            </div>
        </div>
        <div>
            <div class="monitorLink">
                <img class="monitor" src="images/monitor.png">
                <p>Source Code</p>
            </div>
            <div class="aboutProject">
                <div>
                    <h2>Java FX</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        It has survived not only five centuries, but also the leap into electronic typesetting,
                        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                        sheets
                        containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
                        PageMaker
                        including versions of Lorem Ipsum.</p>
                    <form action="/getGpsData">
                        <input type="submit" value="Open Map"></input>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section id="contacts">
        <h2>If you liked what I've done here, go ahead and visit my profiles: </h2>
        <div class="links">
            <div>
                <a href="https://www.linkedin.com/in/nieoczywisty/">
                    <img src="images/linkedin_icon.png" alt="LinkedInLogo" style="width:42px;height:42px;">
                </a>
                <a href="https://www.linkedin.com/in/nieoczywisty/">LinkedIn</a>
            </div>
            <div>
                <a href="https://hyperskill.org/profile/2066949">
                    <img src="images/jetbrains_icon.png" alt="JBALogo" style="width:42px;height:42px;">
                </a>
                <a href="https://hyperskill.org/profile/2066949">JetBrains Academy</a>
            </div>
            <div>
                <a href="https://github.com/nieoczywisty">
                    <img src="images/github-icon.png" alt="LinkedInLogo" style="width:42px;height:42px;">
                </a>
                <a href="https://github.com/nieoczywisty">GitHub</a>
            </div>
        </div>
    </section>
    <footer>
        created by nieoczywisty
    </footer>
</div>
</body>
</html>