<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Banner -->
<section class="main-banner" th:fragment="homePageGreeting">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="banner-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="banner-caption">
                                <h4>Hello, this is  <em>Nieoczywisty</em> demo.</h4>
                                <span>Here I'll publish my recent work</span>
                                <p>I'm a java enthusiast <strong>!YAY!</strong> and hopefully I'll start my journey as a trainee <strong>soon</strong> </p>
                                <div class="primary-button">
                                    <a th:href="@{/aboutMe}">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>